<div class="jumbotron">
  <h1 class="display-4"> Chi-Town Burgers</h1>
   
  <hr class="my-4">
  <img src="https://assets3.thrillist.com/v1/image/1731860/size/tmg-article_default_mobile.jpg" alt="burger">
  <h2>Select your Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="chi">Burger Name:</label>
    <input type="text" id="chi" name="name">
  </div>

  <div class="form-group">
    <label for="order">Order For...</label><br>
    <input type="radio" name="order" value="1" checked> To-Go!<br>
    <input type="radio" name="order" value="0"> Here!
    <br>
    <button type="submit" class="submit-button">Add Burger</button>
  </div>